.layout {
  display: grid;
  margin: 4ch;
  gap: 4ch;
}

.topicName {
  font-weight: bold;
  border-bottom: 1px solid #666;
}

.kafkaMessage {
  border: 1px solid #ddd;
  padding: 2ch;
  position: relative;
}

.kafkaMessage .partition {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20pt;
  color: #ddd;
}
